<table class="table">
    <thead>
        <tr>
            <th>Game</th>
            <th>Date</th>
            <th>Players</th>
            <th>Launch</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let game of allGames; let i = index;">
            <td>{{ game.gameString }}</td>
            <td>{{ game.date }}</td>
            <td>
                <span *ngFor = "let player of game.playerResults">
                    {{ player.playerId }} : {{ player.score }}
                </span>
            </td>
            <td>
                <button class="btn btn-primary btn-raised" (click)="launchGame(game)">Launch!</button>
            </td>
        </tr>
    </tbody>
</table>

<!-- Button trigger modal -->
<button type="button" (click)="promptForGame()" class="btn btn-primary btn-fab score_tracker_fab">
    <i class="material-icons">add</i>
</button>

<modal (modalOutput)="startNewGame($event)"></modal>
