<div class="container-fluid"><!-- style="margin: 0px !important"-->
    <div class="row">
        <div class="col-xs-3">
            <agricola-player [playerName]="'Player1'"></agricola-player>
        </div>
        <div class="col-xs-3">
            <agricola-player [playerName]="'Player2'"></agricola-player>
        </div>
        <div class="col-xs-3">
            <agricola-player [playerName]="'Player3'"></agricola-player>
        </div>
        <div class="col-xs-3">
            <agricola-player [playerName]="'Player4'"></agricola-player>
        </div>
    </div>
</div>