<div class="row">
    <div class="col-xs-4">
        <div class="panel-body agricola-text name-widget"> {{ name }}</div>
    </div>
    <div class="col-xs-6">
        <div class="agricola-text">
            <score-widget 
                [initialValue]="initialValue"
                (valueUpdated)="valueUpdated($event)"
                class="score-widget"></score-widget>
        </div>
    </div>
    <div class="col-xs-2">        
        <div class="panel-body agricola-text value-widget currentValueEle"> {{ currentValue }}</div>
    </div>
</div>