<nav class = "navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class = "navbar-header">
            <strong class = "navbar-brand">{{ activeGameName }}</strong>
        </div>
        <ul class = "nav navbar-nav navbar-right">
            <li><a (click)="saveGame()">Save!</a></li>
        </ul>
    </div>
</nav>
<span *ngFor = "let player of currentPlayers; let i = index;">
    <div class="col-xs-3">
        <standard-player [player]="player" (playerScoreUpdated)="playerScoreUpdated(i, $event)"></standard-player>
    </div>
</span>

<!-- Button trigger modal -->
<button type="button" (click)="promptForUsername()" class="btn btn-primary btn-fab score_tracker_fab">
    <i class="material-icons">add</i>
</button>

<modal (modalOutput)="addNewPlayer($event)"></modal>
