<span *ngFor = "let player of currentPlayers; let i = index;">
    <div class="col-xs-3">
        <agricola-player [player]="player" [playerName]="playerForId(player.playerId)" (playerScoreUpdated)="playerScoreUpdated(i, $event)"></agricola-player>
    </div>
</span> 

<!-- Button trigger modal -->
<button type="button" (click)="promptForUsername()" class="btn btn-primary btn-fab score_tracker_fab">
    <i class="material-icons">add</i>
</button>

<modal (modalOutput)="addNewPlayer($event)"></modal>
